.animation-menu-open {
  animation: open-menu 1s;
}

.animation-menu-close {
  animation: close-menu 1s;
}

@keyframes open-menu {
  0% {
    opacity: 0;
    height: 0px;
  }

  100% {
    opacity: 1;
    height: max-height;
  }
}

@keyframes close-menu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
