/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/

.hljs {
  /* var(--highlight-color) */
  color: #2f3337;
  /* var(--highlight-bg) */
}

.hljs-subst {
  /* var(--highlight-color) */
  color: #2f3337;
}

.hljs-comment {
  /* var(--highlight-comment) */
  color: #656e77;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-section {
  /* var(--highlight-keyword) */
  color: #015692;
}

.hljs-attr {
  /* var(--highlight-attribute); */
  color: #015692;
}

.hljs-attribute {
  /* var(--highlight-symbol) */
  color: #803378;
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag {
  /* var(--highlight-namespace) */
  color: #b75501;
}

.hljs-selector-class {
  /* var(--highlight-keyword) */
  color: #015692;
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr {
  /* var(--highlight-variable) */
  color: #54790d;
}

.hljs-meta,
.hljs-selector-pseudo {
  /* var(--highlight-keyword) */
  color: #015692;
}

.hljs-built_in,
.hljs-title,
.hljs-literal {
  /* var(--highlight-literal) */
  color: #b75501;
}

.hljs-bullet,
.hljs-code {
  /* var(--highlight-punctuation) */
  color: #535a60;
}

.hljs-meta .hljs-string {
  /* var(--highlight-variable) */
  color: #54790d;
}

.hljs-deletion {
  /* var(--highlight-deletion) */
  color: #c02d2e;
}

.hljs-addition {
  /* var(--highlight-addition) */
  color: #2f6f44;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-formula,
.hljs-operator,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

/*!
  Theme: StackOverflow Dark
  Description: Dark theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/

.dark .hljs {
  /* var(--highlight-color) */
  color: #ffffff;
  /* var(--highlight-bg) */
}

.dark .hljs-subst {
  /* var(--highlight-color) */
  color: #b92c2c;
}

.dark .hljs-comment {
  /* var(--highlight-comment) */
  color: #999999;
}

.dark .hljs-keyword,
.dark .hljs-selector-tag,
.dark .hljs-meta .hljs-keyword,
.dark .hljs-doctag,
.dark .hljs-section {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.dark .hljs-attr {
  /* var(--highlight-attribute); */
  color: #88aece;
}

.dark .hljs-attribute {
  /* var(--highlight-symbol) */
  color: #c59bc1;
}

.dark .hljs-name,
.dark .hljs-type,
.dark .hljs-number,
.dark .hljs-selector-id,
.dark .hljs-quote,
.dark .hljs-template-tag {
  /* var(--highlight-namespace) */
  color: #f08d49;
}

.dark .hljs-selector-class {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.dark .hljs-string,
.dark .hljs-regexp,
.dark .hljs-symbol,
.dark .hljs-variable,
.dark .hljs-template-variable,
.dark .hljs-link,
.dark .hljs-selector-attr {
  /* var(--highlight-variable) */
  color: #b5bd68;
}

.dark .hljs-meta,
.dark .hljs-selector-pseudo {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.dark .hljs-built_in,
.dark .hljs-title,
.dark .hljs-literal {
  /* var(--highlight-literal) */
  color: #f08d49;
}

.dark .hljs-bullet,
.dark .hljs-code {
  /* var(--highlight-punctuation) */
  color: #cccccc;
}

.dark .hljs-meta .hljs-string {
  /* var(--highlight-variable) */
  color: #b5bd68;
}

.dark .hljs-deletion {
  /* var(--highlight-deletion) */
  color: #de7176;
}

.dark .hljs-addition {
  /* var(--highlight-addition) */
  color: #76c490;
}

.dark .hljs-emphasis {
  font-style: italic;
}

.dark .hljs-strong {
  font-weight: bold;
}

.dark .hljs-formula,
.dark .hljs-operator,
.dark .hljs-params,
.dark .hljs-property,
.dark .hljs-punctuation,
.dark .hljs-tag {
  /* purposely ignored */
}
